#mysql config
mysql_dns: root:123456@tcp(10.10.28.178:3306)/uchat?parseTime=true&charset=utf8mb4,utf8&loc=Asia%2FShanghai #&interpolateParams=true
table_prefix: demo

#uchat config
merchant_no: 201705311010001
merchant_secret: 123123

#mq config
rabbitmq_host: 10.10.28.178:5672
rabbitmq_api: http://xx.xxx.xx/api
rabbitmq_user: uchat
rabbitmq_passwd: uchat
rabbitmq_vhost: uchat
rabbitmq_exchange_name: uchat_receive
