#mysql config
mysql_dns: root:123456@tcp(10.10.28.178:3306)/uchat?parseTime=true&charset=utf8mb4,utf8&loc=Asia%2FShanghai #&interpolateParams=true
table_prefix: demo
manager_mysql_dns: root:123456@tcp(10.10.28.178:3306)/uchat_manager?parseTime=true&charset=utf8mb4,utf8&loc=Asia%2FShanghai

#uchat config
merchant_no: 201705311010001
merchant_secret: 123123

#mq config
rabbitmq_host: 10.10.28.178:5672
rabbitmq_api: http://xx.xxx.xx/api
rabbitmq_user: uchat
rabbitmq_passwd: uchat
rabbitmq_vhost: uchat
rabbitmq_receive_exchange_name: uchat_receive
rabbitmq_message_exchange_name: uchat_message
rabbitmq_command_exchange_name: uchat_command

#hashids config
hashids_slat: isMyZhiya
hashids_minlen: 16

#default config
uchat_member_join_welcome: 欢迎新用户加入
